<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Prueba template</title>
    <link rel="stylesheet" href="Prueba_template.css">
    <!-- Font LATO  -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <header id="header">
            <div class="nav-bar">
                NAV_BAR
                <script>
                $(document).ready(function() {

                    let div_OK = $('result').load('Cabecera.html');

                });
                </script>
            </div>
        </header>
        <div class="pricipal">
            <div class="nombre">
                Elemento
            </div>
            <div class="elemento">
                prueba
            </div>
        </div>
        <footer>
            Footer
        </footer>
    </div>
</body>

</html>